@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --list-check: url(/list/check.svg)
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100dvh;
}

::marker {
  color: #ffffff;
  width: 16px;
}

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl font-bold leading-tight my-6
  }
  h2 {
    @apply text-3xl sm:text-4xl lg:text-5xl font-semibold leading-snug my-6
  }
  h3 {
    @apply text-2xl sm:text-3xl lg:text-4xl font-medium leading-normal my-4
  }
  h4 {
    @apply text-xl sm:text-2xl font-medium leading-relaxed my-4
  }
  h5 {
    @apply text-lg sm:text-xl font-medium leading-relaxed my-2
  }
  h6 {
    @apply text-base sm:text-lg font-medium leading-relaxed my-2
  }
  p {
    @apply text-base sm:text-lg leading-relaxed
  }
  .devsh-link {
    @apply no-underline text-teal-600 hover:text-teal-300 transition-colors duration-300
  }
}

.youtube-container {
  isolation: isolate;
  z-index: 1;
}