@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --swiper-pagination-color: #ffffff;
  --swiper-navigation-color: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100vh;
  overflow: hidden;
}

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl font-bold leading-tight
  }
  h2 {
    @apply text-3xl sm:text-4xl lg:text-5xl font-semibold leading-snug
  }
  h3 {
    @apply text-2xl sm:text-3xl lg:text-4xl font-medium leading-normal
  }
  h4 {
    @apply text-xl sm:text-2xl font-medium leading-relaxed
  }
  h5 {
    @apply text-lg sm:text-xl font-medium leading-relaxed
  }
  h6 {
    @apply text-base sm:text-lg font-medium leading-relaxed
  }
  p {
    @apply text-base sm:text-lg leading-relaxed
  }
}